.TR-Base
{
	color: #333;
}

.TR-Clear 
{
	clear: both;
}

.TR-Popup button, 
.TR-Base button, 
.TR-Hint button, 
.TR-NewWordForm button 
{
	background: none;
	border: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	cursor: pointer;
}

.TR-Green 
{
	color: #407A40;
}

.TR-Red 
{
	color: #c77;	
}