/* BEGIN [HIGHLIGHTED TEXT] */
.TR-HighlightedText 
{
	border-bottom: 1px dotted #2f6477;
	position: relative;
}
/* END [HIGHLIGHTED TEXT] */


/* BEGIN [NEW WORD ADDING FORM] */
.TR-NewWordForm
{
	z-index: 2147483647;
	display: none;
	position: absolute;
	width: 260px;
	border: 1px solid #ccc;
	font-size: 1.5em;
	overflow: hidden;
	background: #fff;
}

.TR-NewWordForm-Title
{
	font-size: 0.6em;
	color: #777;
	padding: 0px;
	padding-top: 5px;
	text-indent: 0.5em;
}

.TR-NewWordForm-CloseButton
{
	width: 25px;
	float: right;
}

.TR-NewWordForm-Body 
{
	padding: 5px;
}
.TR-NewWordForm-CurrentSelection
{
	font-weight: bold;
	padding: 0px 6px;
	padding-bottom: 10px;
	padding-bottom: 10px;
	display: block;
}

.TR-NewWordForm-Translation
{
	width: 229px;
	border-color: rgb(170, 170, 170);
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
}
.TR-NewWordForm-AddButton
{
	width: 21px;
}
/* END [NEW WORD ADDING FORM] */


/* BEGIN [HINT] */
.TR-Hint 
{
	background: #FBFFDD;
	border: 1px dashed #FFD4BB;
	position: absolute;
	padding: 5px 5px;
	z-index: 2147483647;
	min-width: 180px;
	text-align: left;
	font-weight: normal;
}

.TR-Hint-Word
{
	text-indent: 0.2em;
	font-size: 18px;
}

.TR-Hint-Word:after {
	content: " -";
}

.TR-Hint-Translation 
{
	text-indent: 1em;
	font-size: 13px;
}


.TR-Hint-InfoBox 
{
	text-align: right;
	height: 16px;
}

.TR-Hint-DeleteWordButton
{
	
}

/* END [HINT] */