
body {
	font-size: 16px;
	width: 450px;
}

.TR-Popup-Header 
{
	padding: 0.5em;
}

.TR-Popup-Body {
	
}

.TR-Popup-Controls 
{
	padding: 1em;
}

.TR-Popup-Controls-Item 
{
	margin-bottom: 0.5em;
}

.TR-Popup-Links 
{
	padding: 0.5em;
}

.TR-Popup-Links ul 
{
	list-style: none;
	padding: 0;
	margin: 0;
}

.TR-Popup-Links ul li{
	padding-bottom: 0.5em;
}

.TR-Popup-Links ul li a
{
	color: #777;
}