<div id='tr-templates' style='display: none;'>
	
	<div class="TR-InvisibleTemplate" data-tr-js-template="TranslationsHighlightsHandler">
		<trhandler>{{content}}</trhandler>
	</div>
	
	<div class="TR-InvisibleTemplate" data-tr-js-template="TranslationHighlight">
		<trtag
			data-tr-text='{{text}}'
			data-tr-translation='{{translation}}'
			data-tr-image="{{image}}"
			data-tr-definition="{{definition}}"
			data-tr-hits='{{hits}}'
			data-tr-date='{{date}}'
			title='{{translation}}'
			class='TR-HighlightedText {{Templater.UI.print.ifTrue| styling.addShaddow, "Shaddow"}} {{Templater.UI.print.ifTrue| styling.addUnderline, "Underline"}}'
			style="{{Templater.UI.print.ifNotEmpty| styling.backgroundColor, styling.backgroundColorFormatted}}; {{styling.customCSS}}">{{originalText}}</trtag>
	</div>

	<div class="TR-InvisibleTemplate" data-tr-js-template="TranslationFormHandler">
		<div class="TR-Base TR-BG-Light TR-NewWordForm">
			<div class="TR-NewWordForm-TitleHandler">
				<span class="TR-NewWordForm-Title">add translaton to the text</span>
				<button class="_tr_close TR-Red TR-NewWordForm-CloseButton">close</button>
				<div class="TR-Clear"></div>
			</div>
			<div class="_tr_body TR-NewWordForm-Body">
				
			</div>
		</div>
	</div>
	
	<div class="TR-InvisibleTemplate" data-tr-js-template="TranslationDetailsBody">
		<div>
			<div class="TR-BG-Dark TR-NewWordForm-CurrentSelection">
				<div class="_tr_imageSelectorHandler" style="display: none;">
					<div class="TR-BG-Light TR-Form-ImageSelectorHandler">
						<div class="_tr_imageSelector TR-Form-ImageSelector">
							<div class="TR-InvisibleTemplate" data-tr-js-template="TranslationFromImageToSelectFrom">
								<img class='_tr_imageSelectFrom' src="{{src}}" />
							</div>
						</div>
						<div class="">
							<button class="_tr_cancelImageButton">cancel</button>
							<button class="_tr_chooseImageButton">done</button>
						</div>
					</div>
					<div style="height: 0.5em;"></div>
				</div>
				<div class="TR-Form-Image" style="float: left;">
					<img class="_tr_textImage" 
						  src="{{image}}"
						  data-tr-selected-image=""
						  data-tr-default-image="{{image}}"
						  style="width: 3em; height: 3em; cursor: pointer;">
				</div>
				<div class="TR-Form-Word" style="float: left; margin-left: 0.5em;">
					<span class="_tr_textToTranslate TR-Word">{{text}}</span>
					<div class="_tr_textToTranslateDefinition" data-tr-selected-definition="" style="font-size: 0.65em;">
						{{definition}}
					</div>
				</div>
				<div class="TR-Clear"></div>
			</div>
			<div class="TR-BG-Ultralight" style="padding: 0.5em;">
				<div class="_tr_textTranslation TR-Translation TR-NewWordForm-SpecifiedTranslation">{{translation}}</div>
			</div>
		</div>
	</div>
	
	<div class="TR-InvisibleTemplate" data-tr-js-template="TranslationForm">
		<div class="TR-TranslationForm">
			<div class="" data-tr-js-use-template="TranslationDetailsBody"></div>
			<div class="TR-NewWordForm-ButtonsPanel">
				<button class="_tr_globseButton TR-Action TR-NewWordForm-GlobseButton">
					Definition + Translate to '{{langTo}}' using Glosbe 
					<img src="" data-tr-src="{{config.glosbeIcon}}">
				</button>
				<div> </div>
				<button class="_tr_bingButton TR-Action TR-NewWordForm-BingButton">
					Translate to '{{langTo}}' using Bing 
					<img src="" data-tr-src="{{config.bingIcon}}">
				</button>
				<div></div>
				
				<img stc="" class="_tr_loading TR-NewWordForm-LoadingAnimation TR-LoadingAnimation" data-tr-src="{{config.loadingAnimation}}">
			</div>
			<div class="TR-NewWordForm-Translation-Handler">
				<input class="_tr_translationInput TR-Translation TR-NewWordForm-Translation" value="" type="text" placeholder="translation">
				<button title="Add word" class="_tr_setTranslationButton TR-NewWordForm-EnterKeyButton">&nbsp;</button>
			</div>
		</div>
	</div>

	<div class="TR-InvisibleTemplate" data-tr-js-template="TranslationDetails">
		<div class="TR-BG-Light TR-Base TR-Hint" style="">
			<div class="" data-tr-js-use-template="TranslationDetailsBody"></div>
<!--			<div class="TR-BG-Dark TR-WordBaseInfo">
				<span class="TR-Word TR-Hint-Word">{{text}}</span> 
				<span class="TR-Translation TR-Hint-Translation">{{translation}}</span>
			</div>-->
			<div class="TR-WordAdditionalInfo">
				<div class="TR-WordData">{{hits}} times met<br/>{{Templater.UI.print.dateAgo | date}}</div>
				<button class="_tr_markAsLearnedButton TR-KnowIt TR-Hint-DeleteWordButton" data-tr-text="{{text}}">I already know this word!
				</button>
				<div class="TR-Clear"></div>
			</div>
		</div>
	</div>
	
	
	<table class="TR-InvisibleTemplate">
		<tbody data-tr-js-template="WordLearningRowItem">
			<tr class='{{rowClass}}'>
				<td class='TR-Word-Cell'>
					<div style="float:left; padding-right: 0.5em;">
						<img src="{{image}}" style="width: 3em; height: 3em;">
					</div>
					<div class='TR-WordHandler'><span class='TR-Word'>{{text}}</span></div>
					<div class='TR-WordData'>{{hits}} times met<br/>{{Templater.UI.print.dateAgo | date}}</div>
				</td>
				<td class='TR-Translation-Cell'>
					<span class='TR-Translation'>{{translation}}</span>
				</td>
				<td class='TR-DeleteButton-Cell'>
					<button class='TR-EditTranslationButton' data-tr-raw='{{index}}'>edit</button>
					<div></div>
					<button class='TR-KnowIt' data-tr-text='{{text}}'>Know it!</button>
				</td>
			</tr>
		</tbody>
		<tbody data-tr-js-template="WordLearnedRowItem">
			<tr class='{{rowClass}}'>
				<td class='TR-Word-Cell'>
					<div style="float:left; padding-right: 0.5em;">
						<img src="{{image}}" style="width: 3em; height: 3em;">
					</div>
					<div class='TR-WordHandler'><span class='TR-Word'>{{text}}</span></div>
					<div class='TR-WordData'>{{hits}} times met<br/>{{Templater.UI.print.dateAgo | date}}</div>
				</td>
				<td class='TR-Translation-Cell' colspan="2">
					<div>Learned {{Templater.UI.print.dateAgo | learnedAt}}</div>
					<div class='TR-Translation' style="display: none;">{{translation}}</div>
					<button class='TR-BackToLearning' data-tr-text='{{text}}'>back to learning</button>
				</td>
			</tr>
		</tbody>
	</table>
	
</div>