<table class="InvisibleTemplate" data-js-template="WordRowItem">
	<tr class=''>
		<td class='TR-Word-Cell'>
			<div class='TR-WordHandler'><span class='TR-Word'>{{word}}</span></div>
			<div class='TR-WordData'>{{hits}} times met<br/>{{Tempalter.UI.print.dataAgo | date}}</div>
		</td>
		<td class='TR-Translation-Cell'>
			<span class='TR-Translation'>{{translation}}</span>
		</td>
		<td class='TR-DeleteButton-Cell'>
			<button class='TR-KnowIt' word='{{word}}'>Know it!</button>
		</td>
	</tr>
</table>